
// 版面中間為1200px(1920px)
// 如何設置

// 按鈕樣式(沒有效果的按鈕)
@mixin btn($color-primary,$color-text,$h4){
    border-color:$color-primary;
    color: $color-text;
    font-size: $h4;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer ;
    width: 300px;
    // border: 1px solid salmon;

    &:hover{
        background: $color-primary;
    }
    
    &:active{
        background: $color-primary;
    }

    &.-active{
        // background:black
    }
}

// // RWD
@mixin m() {
    @media screen and (max-width: 414px) {
        @content;
    }
}



// wrapper 中間設定1200px
@mixin wrapper() {
    width: 1200px;
    margin: 0 auto;
}

